
.buy-form__title{
    text-align: center;
    margin-left: -70px;
}

.buyer__title-traveler_data{
    text-align: center;
    margin-left: -230px;
}

.train_data{
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: column;
    color: var(--mdc-theme-secondary);
    /* justify-content: center; */
    align-items: center;
}

.train-data--row{
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    text-align: left;
}

.label, .data{
    /*margin-right: 20px;*/
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: larger;
}

.buy-form{
    /* align-items: center; */
}

.select{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.select-buy{
    /* text-align: center; */
    margin-left: -100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.traveller-data{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.checkbox-label{
    color: var(--mdc-theme-secondary);
    /* vertical-align: middle; */
}

.traveller-data--field{
    margin-left: 10px;
    margin-right: 10px;
}

.buy-button{
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 5px;
}

.checkbox{
    margin-left: -40px;
}

.traveller-data--row, .traveller-data--end{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}