<link rel="stylesheet" type="text/css" href="/css/base/profile.css">

<div class="mdc-top-app-bar--fixed-adjust content mdc-theme--surface">
    <div class="profile-box">
        <!--headline-->
        <legend>
            <h3 class="mdc-typography--headline3 mdc-theme--on-primary search-form__title">Profile</h3>
        </legend>
        <div class="row row--bordered">
            <div class="column">

                <div class="profile-labes">Username: </div>

                <div class="profile-labes">Name: </div>

                <div class="profile-labes">Bank Card: </div>

                <div class="profile-labes">E-mail address: </div>
            </div>
            <div class="column">
                <div class="profile-data"><%- user.username %></div>

                <div class="profile-data"><%- user.name %></div>

                <div class="profile-data"><%- user.bankCardNumber %></div>

                <div class="profile-data"><%- user.email %></div>

            </div>

        </div>

        <!--<div class="mdc-line-ripple"></div>-->

        <form id="password-change" class="row" method="POST" action="/api/change-password">
            <legend>
                <h5 class="mdc-typography--headline5 mdc-theme--on-primary profile-form__title">Change password</h3>
            </legend>
            <div class="column">
                <div class="mdc-text-field"  data-mdc-auto-init="MDCTextField">
                    <input type="password" class="mdc-text-field__input" id="profile-oldPass" name="oldPassword">
                    <div class="mdc-line-ripple"></div>
                    <label for="text-field-hero-input" class="mdc-floating-label">Old password</label>
                </div>

                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                    <input type="password" class="mdc-text-field__input" id="profile-newPass" name="newPassword" autocomplete="off">
                    <div class="mdc-line-ripple"></div>
                    <label for="text-field-hero-input" class="mdc-floating-label">New password</label>
                </div>
            </div>
            <button class="mdc-button mdc-button--raised passChange--button"> <span
                    class="mdc-button__ripple"></span>Change</button>

        </form>
    </div>

</div>