  <!--!content!-->
  <div class="mdc-top-app-bar--fixed-adjust content mdc-theme--surface">

    <template id="purchase-list__row">
      <tr class="mdc-data-table__row">
        <td class="mdc-data-table__cell">Asd McAsdy</td>
        <td class="mdc-data-table__cell">12/APR/2020</td>
        <td class="mdc-data-table__cell">Budapest-Nyugati</td>
        <td class="mdc-data-table__cell">Szeged</td>
        <td class="mdc-data-table__cell">08:47</td>
        <td class="mdc-data-table__cell">2300<span>Ft</span></td>
        <td class="mdc-data-table__cell">
          <button id="show_button" class="mdc-button trip_form-button" data-mdc-auto-init="MDCRipple">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Show</span>
          </button> 
        </td>
      </tr>
    </template>

    <!--headline-->
    <form id="purchase-search" class="search-form" onsubmit="return false">
      <legend>
        <h3 class="mdc-typography--headline3 mdc-theme--on-primary search-form__title">Purchase history</h3>
      </legend>

      <div class="search-form--fileds">

        <!--passenger search-->
        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon"
          data-mdc-auto-init="MDCTextField">
          <i class="material-icons mdc-text-field__icon">person</i>
          <input class="mdc-text-field__input" type="text" id="text-field-NAME-input" name="name">
          <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
              <label for="text-field-hero-input" class="mdc-floating-label">Passenger's Name</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
          </div>
        </div>


        <!--ticket search button-->
        <div class="finish-search">

          <button id="subbmit_button" class="mdc-button trip_form-button" data-mdc-auto-init="MDCRipple">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Search</span>
          </button>

        </div>

      </div>

    </form>

    <!--table-->
    <div class="box my-box">
      <div class="mdc-data-table">
        <table class="mdc-data-table__table" aria-label="Dessert calories">
          <thead id="purchase-list--thead">
            <tr class="mdc-data-table__header-row">
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Passenger's Name</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">On</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">From</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">To</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Depart</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Price</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Show Ticket</th>
            </tr>
          </thead>
          <tbody id="purchase-list" class="mdc-data-table__content">

          </tbody>
        </table>
      </div>
    </div>

  </div>

  <script>
    function showMask() {
    var node = document.getElementById('purchase-list')
    var visibility = node.style.visibility;
    node.style.visibility = visibility == "visible" ? 'hidden' : "visible"
}
  </script>
  <script src="js/purchase.js"></script>