<link rel="stylesheet" type="text/css" href="css/base/signUp.css">

<div class="mdc-top-app-bar--fixed-adjust content mdc-theme--surface">

    <!--headline-->
    <form id="sign_up" class="signUp-form" method="POST" action="/api/registration">
        <legend>
            <h3 class="mdc-typography--headline3 mdc-theme--on-primary search-form__title">Sign Up</h3>
        </legend>

        <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
            <input class="mdc-text-field__input" type="text" id="signUp-username" name="user">
            <div class="mdc-notched-outline  signUp-form-field">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="text-field-hero-input" class="mdc-floating-label">Username</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
            <input class="mdc-text-field__input" type="password" id="signUp-password" name="pass">
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="text-field-hero-input" class="mdc-floating-label">Password</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
            <input class="mdc-text-field__input" type="email" id="signUp-mail" name="mail">
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
            <input class="mdc-text-field__input" type="text" id="signUp-name" name="name">
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="text-field-hero-input" class="mdc-floating-label">Name</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
            <input class="mdc-text-field__input" type="date" id="signUp-birthDate" name="birth">
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="text-field-hero-input" class="mdc-floating-label">Birth date</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
            <input class="mdc-text-field__input" type="text" id="signUp-cardNumber" name="card">
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="text-field-hero-input" class="mdc-floating-label">Card number</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <button class="mdc-button mdc-button--raised register--button">  <span class="mdc-button__ripple"></span>Register</button>

        <div class="search-form--fileds">
        </div>

    </form>

</div>
