  <!--!content!-->
  <div class="mdc-top-app-bar--fixed-adjust content mdc-theme--surface">

    <template id="stations-list__row">
      <tr class="mdc-data-table__row">
        <td class="mdc-data-table__cell">Budapest-Nyugati</td>
        <td class="mdc-data-table__cell">16</td>
        <td class="mdc-data-table__cell">yes</td>
        <td class="mdc-data-table__cell">yes</td>
        <td class="mdc-data-table__cell">yes</td>
        <td class="mdc-data-table__cell">yes</td>
        <td class="mdc-data-table__cell">yes</td>
      </tr>
    </template>

    <!--headline-->
    <form id="station-search" class="search-form" onsubmit="return false">
      <legend>
        <h3 class="mdc-typography--headline3 mdc-theme--on-primary search-form__title">Stations</h3>
      </legend>

      <div class="search-form--fileds">


        <!--station serach-->
        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon"
          data-mdc-auto-init="MDCTextField">
          <i class="material-icons mdc-text-field__icon">location_on</i>
          <input class="mdc-text-field__input" type="text" id="text-field-SEARCH-STATION-input" name="search">
          <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
              <label for="text-field-hero-input" class="mdc-floating-label">Search Station</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
          </div>
        </div>

        <!--station search button-->
        <div class="finish-search">

          <button id="subbmit_button" class="mdc-button trip_form-button" data-mdc-auto-init="MDCRipple">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Search</span>
          </button>

        </div>

      </div>

    </form>

    <!--table-->
    <div class="box my-box">
      <div class="mdc-data-table">
        <table class="mdc-data-table__table" aria-label="Dessert calories">
          <thead id="stations-list--thead">
            <tr class="mdc-data-table__header-row">
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Name</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Peron Number</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Ticket Office</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Disabled Services</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Helpdesk</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Café</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">WIFI</th>
            </tr>
          </thead>
          <tbody id="stations-list" class="mdc-data-table__content">

          </tbody>
        </table>
      </div>
    </div>

  </div>

  <script>
    function showMask() {
    var node = document.getElementById('stations-list')
    var visibility = node.style.visibility;
    node.style.visibility = visibility == "visible" ? 'hidden' : "visible"
}
  </script>

<script src="js/station_search.js"></script>