<link rel="stylesheet" type="text/css" href="css/base/ticketBuy.css">

<div class="mdc-top-app-bar--fixed-adjust content mdc-theme--surface">

    <!--headline-->
    <form id="buy" class="buy-form">
        <legend>
            <h3 class="mdc-typography--headline3 mdc-theme--on-primary buy-form__title">Buy tickets for</h3>
        </legend>

        <div class="train_data">
          <div class="train-data--row">
            <div class="label">From: </div>   <div class="data">Szeged</div>
          </div>
            
          <div class="train-data--row">
            <div class="label">To: </div> <div class="data">Budapest - Nyugati</div>
          </div>
            
          <div class="train-data--row">
            <div class="label">On: </div> <div class="data">12/APR/2020</div>
          </div>
            
          <div class="train-data--row">
            <div class="label">Depart: </div> <div class="data">16:32</div>
          </div>

          <div class="train-data--row">
            <div class="label">Price: </div> <div class="data">3520 <span>Ft</span></div>
          </div>
        </div>


        <!--TODO-->
        <!--passenger age serach and count-->
        <div class="mdc-select">
            <div class="mdc-select__anchor demo-width-class">
              <i class="mdc-select__dropdown-icon"></i>
              <div class="mdc-select__selected-text"></div>
              <span class="mdc-floating-label">Passengers</span>
              <div class="mdc-line-ripple"></div>
            </div>
  
            <div class="mdc-select__menu mdc-menu mdc-menu-surface demo-width-class">
              <ul class="mdc-list">
                <li class="mdc-list-item mdc-list-item--selected" data-value="" aria-selected="true"></li>
                <li class="mdc-list-item" data-value="adult">
                  Adult
                </li>
                <li class="mdc-list-item" data-value="youth">
                  Youth/Child
                </li>
                <li class="mdc-list-item" data-value="senior">
                  Senior
                </li>
                <li class="mdc-list-item" data-value="senior">
                  Group
                </li>
              </ul>
            </div>
  
  
          </div>