<!--!content!-->
<div class="mdc-top-app-bar--fixed-adjust content mdc-theme--surface">

  <template id="train-list__row">
      <tr class="mdc-data-table__row hover-effect">
        <td class="mdc-data-table__cell">Szeged</td>
        <td class="mdc-data-table__cell">Budapest-Nyugati</td>
        <td class="mdc-data-table__cell">06:32</td>
        <td class="mdc-data-table__cell">08:47</td>
        <td class="mdc-data-table__cell">02:15<span> hours</span></td>
        <td class="mdc-data-table__cell">2300<span>Ft</span></td>
        <td class="mdc-data-table__cell">
          <button id="buy_button" class="mdc-button trip_form-button" data-mdc-auto-init="MDCRipple">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Buy ticket</span>
          </button>
        </td>
      </tr>
  </template>

  <!--headline-->
  <form id="train-search" class="search-form" onsubmit="return false">
    <legend>
      <h3 class="mdc-typography--headline3 mdc-theme--on-primary search-form__title">Trip-planner</h3>
    </legend>

    <div class="search-form--fileds">


      <!--start location serach-->
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon"
        data-mdc-auto-init="MDCTextField">
        <i class="material-icons mdc-text-field__icon">location_on</i>
        <input class="mdc-text-field__input" type="text" id="text-field-FROM-input" name="from">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="text-field-hero-input" class="mdc-floating-label">From</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>

      <!--arrow-->
      <div class="search-form__icon">
        <span class="material-icons">arrow_right_alt</span>
      </div>

      <!--destination location serach-->
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon"
        data-mdc-auto-init="MDCTextField">
        <i class="material-icons mdc-text-field__icon">location_on</i>
        <input class="mdc-text-field__input" type="text" id="text-field-TO-input" name="to">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="text-field-hero-input" class="mdc-floating-label">To</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>

      <!--depart day serach-->
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon"
        data-mdc-auto-init="MDCTextField">
        <i class="material-icons mdc-text-field__icon">calendar_today</i>
        <input class="mdc-text-field__input" type="date" id="text-field-WHEN-input" name="day">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="text-field-hero-input" class="mdc-floating-label">Depart</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>

      <!--return date search-->
      <!--
          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon"
            data-mdc-auto-init="MDCTextField">
            <i class="material-icons mdc-text-field__icon">calendar_today</i>
            <input class="mdc-text-field__input" type="date" id="text-field-hero-input">
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="text-field-hero-input" class="mdc-floating-label">Return <i>(optional)</i></label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>-->



      <!--trip search button-->
      <div class="finish-search">

        <button id="subbmit_button" class="mdc-button trip_form-button" data-mdc-auto-init="MDCRipple">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Search</span>
        </button>

      </div>

    </div>

  </form>

  <!--table-->
  <div class="box my-box">
    <div class="mdc-data-table">
      <table class="mdc-data-table__table" aria-label="Dessert calories">
        <thead id="train-list--thead">
          <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">From</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">To</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Depart</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Arrive</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Time</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Price</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
          </tr>
        </thead>
        <tbody id="train-list" class="mdc-data-table__content">

        </tbody>
      </table>
    </div>
  </div>

  <h4 id="welcome-line" class="mdc-typography--headline4">Welcome on our page! Please choose your destination and have a
    nice trip!</h3>

</div>

<script>
  function showMask() {
    var node = document.getElementById('train-list')
    var visibility = node.style.visibility;
    node.style.visibility = visibility == "visible" ? 'hidden' : "visible"
  }
</script>

<script src="js/train_search.js"></script>