<link rel="stylesheet" type="text/css" href="css/base/profile.css">

<div class="mdc-top-app-bar--fixed-adjust content mdc-theme--surface">
  <div class="profile-box">

    <!--headline-->
    <legend>
      <h3 class="mdc-typography--headline3 mdc-theme--on-primary search-form__title">Worker Data</h3>
    </legend>
    <div class="row row--bordered">
      <div class="column">

        <div class="profile-labes ">Name: </div>

        <div class="profile-labes">Birthdate: </div>

        <div class="profile-labes">Home Address: </div>

        <div class="profile-labes">Tax Number: </div>

        <div class="profile-labes">Assignment: </div>

        <div class="profile-labes">Payment: </div>

      </div>
      <div class="column">
        <div class="profile-data">Szabó Zoé</div>

        <div class="profile-data">27-JAN-72</div>

        <div class="profile-data">Szeged, Jakab L. u 63.</div>

        <div class="profile-data">542524851</div>

        <div class="profile-data">Takarító</div>

        <div class="profile-data">196847 <span> Ft/Month</span></div>

      </div>

    </div>

  </div>

</div>